* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 10px; */
  text-align: center;
}
.app {
  /* border: 1px solid red; */
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* min-height: 100vh; */
  /* font-size: calc(10px + 2vmin); */
  color: #333;
  background: url('./assets/images/bible2.jpg') !important;
    background-repeat: no-repeat !important;
    background-position: top !important;
    background-size: 100% auto!important;
}
header {
  z-index: 100;
}
main {
  z-index: 10;
}
.app-main {
  /* border: 1px solid blue; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.app-footer {
  /* border: 1px solid green; */
  width: 100%;
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  color: white;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
