.one-less {
    display: flex;
    align-items: flex-start;
    width: 100vw;
    min-height: 80vh;
    background-color: #fff;

}
.one-less p, .one-less li{
  text-align: left;
  font-size: 1.25rem !important;
}

/* Adjust the spacing between the number and the text in the ordered list */
ol {
    list-style-position: outside; /* Ensure the numbers are inside the list item */
    padding-left: 0; /* Remove default padding */
  }

  ol li {
    margin-left: 0; /* Adjust the margin to control the spacing */
    text-indent: 0; /* Negative indent to pull the text closer to the number */
    padding-left: .0; /* Add padding to align the text properly */

  }
  .one-less ol {
    padding: 0;
    text-align: left;
  }
.one-less ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
  }
.one-less p {
    font-size: 1rem;
    padding: 0;
    margin: 0;
}
.one-less-aside {
    flex: 0 0 16rem;
    border-right: 4px groove black;
    background-color: #e5c228;
    height: 80lvh;
    padding: 0 1rem;
    overflow-y: auto;
}

.one-less-section {
    flex: 1;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 80vh;
    overflow-y: auto;
    padding: 0 5rem;
}
.one-less-header {
    background-color: #e5c228;
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    width: 100%;
    color: #fff;
    border-bottom: 2px groove black;
}
button{
    padding: 0.25rem .25rem;
    width: 100%;
    text-align: left;
    background-color: #e5c228;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    color: #fff;
}
button:hover {
    background-color: #9b8ced;
}
.active-btn {
    background-color: red;
    border: 1px solid black;
}
/* .tooltips {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    color:red;
  } */

  /* .tooltips .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color:red;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  } */

  /* .tooltips .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  } */

  /* .tooltips:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
} */
/* .tipText:hover, .testHover:hover{
    background-color: aqua;
    cursor: pointer !important;
}
.tipText {
  color: rgb(55, 131, 55);
} */
