.content-header {
    /* background-color: blueviolet; */
    padding: 1rem 0;
}
#tooltip {
    font-size: 1.25rem !important;
    color:antiquewhite !important;
    max-width: 30rem !important;
    white-space: pre-line !important;
    /* background-color:#333 !important; */
    border-radius: 8px !important;
    padding: 10px !important;
    text-align: left !important;
    z-index: 1000 !important;
}
.tipText {
    color: red;
}
.tipText:hover {
    cursor:pointer !important;
    background-color: yellow;
}
/* MeetGod */
/* Salvation */
.salvation-content p {
    text-align: left;
}

.sec2 {
    padding: 50px 0 !important;
}

.sec2 div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 10px;
    /* margin: 0 auto;
    max-width: 1200px; */
}

/* Living */
ul {
    list-style-type: disc;
    padding: 0;
    text-align: left;
}

/* Morlas */
.morals-content {
    padding: 50px 0;
}

.inventory {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0 10px;
    /* margin: 0 auto;
    max-width: 1200px; */
}

.inventory>section {
    flex: 1 1 0;
    border: 2px solid black;
    padding: 0 10px;
}

/* Modal styles */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Confess Sins */
.confess-content {
    /* border: 2px solid black; */
    padding: 0;
    margin: 0;
    /* height: 250px; */
    /* display: flex; */
}

.confessAnimator {
    position: relative;
    min-height: 35rem;
    display: flex;
    /* border: 2px solid black; */
}
.sinCross1 {
    flex: 1 1 0;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* display: none; */
}
.sinCross2 {
    flex: 1 1 0;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sinCross>div {
    flex: 1 1 0;
    /* border: 2px solid red; */
    overflow: auto;
}
.sinCross img {
    z-index: 10;


}
.sins {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(2, 2, 2, 0.397);
    z-index: 100;
}
.confessAnimator img {
    height: 100%;
    width: 100%;
}

#crossStart {
    position: absolute;
    top: 2rem;
    left: 25%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 200px;
    height: 200px;
    background-color: black;
    transition: left 5s linear;
    transition: background-color .5s linear;

}

.cleanseSins {
    animation: moveAcross 3s linear 1;
    background-color: red !important;
}

#crossEnd {
    position: absolute;
    top: 2rem;
    left: 75%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 200px;
    height: 200px;
    border-radius: 15%;

}
.crossEnd {
    border: 2px solid green !important;
    border-radius: 0 !important;
    width: 100% !important;
    height: 100% !important;
    top: 0 !important;
    left: 0 !important;
    transform: none !important;
    z-index: 150;
    overflow: hidden !important;
    transition: all 1s linear;
}
.forgiveText {
    z-index: 200;
}

@keyframes moveAcross {
    from {
        left: 25%;
    }

    to {
        left: 75%;
    }
}


#moveCross {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100px;
    height: 100px;
    background-color: red;
    /* animation: moveAcross 5s linear infinite; */
}

/* +++++++++++++  Oneliners.jsx  +++++++++++++ */
.oneLiner {
    border: 2px groove black;
    border-radius: .5rem;
    background-color: rgba(128, 128, 128, 0.417);
    padding: .5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    /* white-space: normal !important;
    overflow-wrap: normal !important;
    word-wrap: break-word !important; */

}
.custom-dropdown .dropdown-menu {
    /* width: 60vw; */
    margin: 0 auto !important;
    white-space: normal !important;
    overflow-wrap: normal !important;
    word-wrap: break-word !important;
    background-color: sandybrown;
    /* overflow: auto !important; */

     /* Set the desired width */
  }

.custom-dropdown a {
    white-space: normal !important;
    overflow-wrap: normal !important;
    word-wrap: break-word !important;
}
