.landing {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    min-height: 100%;
    /* background-color: #f5f5f5; */

}
.app {
    background: url('../../assets/images/bible2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
