/* filepath: /Users/mzinzun/development/the-one-ministries/ghi/src/pageComponents/Landing/landing.css */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lucida+Sans&display=swap');
.landing {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    min-height: 80vh;
    overflow: auto;
    background-color: transparent;

}
a {
    text-decoration: none;
    color: black;
}
.app {


}

.landing-section {
    flex: 1;
    width: 100%;
    min-height: 80vh;
    /* border: 2px solid #f5f5f5; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.news-thoughts-div {
    flex: 2 2 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid #f5f5f5; */
    padding: 0 2rem;
    /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2); */
}
.landing-news, .landing-thoughts {
    width: 18rem;
    height: 12rem;
    /* border: 2px solid #e21414; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.script {
    flex: 1 1 0;
    /* border: 2px solid #e21414; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.script h1 {
    font-size: 3rem;
    font-family: 'Pacifico', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    /* color: #e21414; */
}
.one-less-link {
    flex: 2 2 0;
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid #f5f5f5; */
}
.ol-link {
    padding: 1rem;
    margin: 0;
    border: 2px solid black;
    border-radius: 1rem;
    background-color: rgba(210, 194, 194,.5);
    white-space: normal; /* Allow text to wrap */
    word-wrap: break-word; /* Ensure long words wrap */
    overflow-wrap: break-word; /* Ensure long words wrap */

}
