body {
  /* background-image: url("../Home.js"); */
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5px;
  /* cursor: url(..../images/lionFace.jpeg), default; */
}

.bgPicConfess {
  background-image: url("../images/storm1.jpeg");
}

.bgPicIntroduce {
  background-image: url("../images/scriptures.jpeg");
}

.bgPicSalvation {
  background-image: url("../images/sunset.jpeg");
}

.bgPicLiving {
  background-image: url("../images/redSky.jpeg");
}

.bgPicMoral {
  background-image: url("../images/peoplePraising.jpeg");
}

.bgPicEternallySecure {
  background-image: url("../images/bible.jpeg");
}

.bgPicOneliners {
  background-image: url("../images/highClouds.jpeg");
}

/* .bgPicWalkWord {
  background-image: url("../images/scriptures.jpeg");
} */

.bgPicEncourage {
  background-image: url("../images/flowerField.jpeg");
}

/* .bgPicOneLessEvent {
  background-image: url("../images/redSky.jpeg");
} */

/* .bgPicPrayer {
  background-image: url("../images/cloud_nature.jpeg");
} */

/* .bgPicQuestions {
  background-image: url("../images/praise.jpeg");
} */

/* .bgPicSupport {
  background-image: url("../images/nightSky.jpeg");
} */

#rtnMsg {
  color: white;
}
.comboBorder {
  border: solid blue 5px;
  height: 120px;
  width: 130px;
  position: absolute;
}

#bib {
  color: chartreuse
}

#word {
  color: white;
  margin-top:-13px;
  margin-bottom: 0;
  margin-left: 32px;
  margin-right: 0;
  background-color: orange;
  position: relative;
}

h1 {
  background-color: yellow;
  text-align: center;
  font-family: fantasy;
  height: 60px;
  width: 100%;
  padding: 0;
}

h2 {
  text-align: center;
}

h3 {
  background-color: yellow;
  color: black;
  text-align: center;
  font-family: fantasy;
  font-size: 35px;
  height: 40px;
  width: 100%;
  font-weight: 500;
}

h4 {
  color: black;
  background-color: yellow;
  text-align: center;
  font-family: fantasy;
  font-size: 20px;
  height: 30px;
  width: 100%;
}


.jumbotron {
background-color: lightskyblue;
display: flex;
flex-direction: column;
margin: 55px;
border: 10px solid white;
border-radius: 5px;
}


.trngCenter {
  margin-bottom: 15px;
  color: darkBlue;
  text-align: center;
  font-size: 25px;
  background-color: white;
  /* margin: 40px 0 10px 0; */
}

#small {
  color: purple;
}

.welcome {
  padding: 15px;
}

#me {
  text-align: center;
  font-size: 135px;
  margin-bottom: 0;
}

.doors {
  display: flex;
  justify-content: space-around;
}

.personal {
  color: white;
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
}

.oneLiner li {
  color: white;
}

.frame {
  border: 8px ridge yellow;
  border-radius: 15px;
  padding: 10px;
}

.test li {
  color: white;
}

.xWide{
  width: 275px;
}

.title {
  color: lightskyblue;
}

.intro {
  width: 850px;
}

#story {
  width: 315px;
  height: 100px;
}

#userName {
  margin-left: 15px;
}


.output {
  color: white;
}

.color {
  color:lime;
}

.introMsg {
  text-align: center;
  margin-top: 25px;
}

.red {
  color: red;
  font-size: 30px;
  border: 15px ridge red;
  border-radius: 15px;
}

.rojo {
  color: red;
}

.dodgerblue {
  color: dodgerblue;
}

.cyan {
  color: cyan;
}

.deleteMe {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: greeen;
}

.main {
  background-color: yellow;
  margin-bottom: 20px;
}

.offer:hover {
  background-color: dodgerblue;
  cursor: pointer;
  border: 3px ridge white;
  padding: 5px;
  border-radius: 5px;
  color: yellow;
}

.offer: {
  color: white;
}

.special {
  display: flex;
  justify-content: space-around;
}

.clr {
  color: red;
  font-size: 25px;
}
.tooltip-inner{
  font-size: 20px;
}

.testHover:hover {
  background-color:yellow;
  color: blue;
}

.vocab:hover {
  background-color: red;
}

.modalTitle {
  color: red;
}

.encList:hover {
  color: darkblue;
}

.clr:hover {
  background-color: dodgerblue;
  cursor: pointer;
  border: 3px double white;
  border-radius: 5px;
  padding: 2px;
}

.layout{
  display: block;
  color: blue;
  font-size: 20px;
  margin-bottom: 1rem;
}

.layout span:hover {
  background-color: white;
  border: blue double 3px;
  border-radius: 5px;
  padding: 2px;
}

#subtitle {
  text-align: center;
}

#myPic {
  font-size: 165px;
  position: absolute;
  margin-left: 250px;
  margin-top: 100px;
}

#vidBox {
  height: 650px;
  width: 750px;
  border: ridge 15px green;
  position: relative;
  display: flex;
  flex-direction: column;
}

#myVideo {
  color: purple;
  position: absolute;
  background-color: green;
  margin-top: -20px;
  margin-left: 185px;
  /* margin: -20 0 0 185; */
}

.vidScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topPersonal {
  display: flex;
  /* justify-content: flex-end; */
  width: 600px;
  padding: 10px;
}

#target {
  /* color:red; */
  margin-top: 355px;
  margin-left: 35px;
  position: absolute;
  width: 600px;
  height:200px;
  padding: 5px; 
}

.completeTestimonial {
  padding: 5px;
}

.fa-play, .fa-f0ea {
  color: yellow;
  margin-top: 275px;
  text-align: center;
}

.encTopics {
  color: pink;
}

#rtnMsg {
  font-size: 20px;
  color: chartreuse;
}

.doolie {
  color: white;
}

#encourage {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.less {
  background-color: white;
  color: red;
  font-size: 25px;
}

.totCount {
  color: white;
}

#praySubmission {
  color: royalblue;
  background-color: chartreuse;
}

#credit {
  color: chartreuse;
}

.nameSin {
  background-color: white;
  color:blue;
  border: 10px groove white;
  width: 135px;
  height: 200px;
  margin-top: 15px;
  margin-left: 15px;
  text-align: center;
}

.confession {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 500px;
  margin-top: 10px;
}
.confession:hover {
  cursor: url(../images/lamb.jpeg), default;
}

#confessBtn {
  width: 120px;
}

.cross {
  position: absolute;
  margin-left: 342px;
  top: 320px;
}

.confessPlace1 {
  color:blue;
  border-left: 5px groove white;
  border-top:5px groove white;
  border-bottom:5px groove white ;
  width: 50px;
  height: 20px;
}

.confessPlace2 {
  color:blue;
  margin-left:49px;
  margin-top: -63px;
  border-left: 5px groove white;
  border-top:5px groove white;
  border-right:5px groove white ;
  width: 20px;
  height: 30px;
}

.confessPlace3 {
  color:blue;
  margin-left:69px;
  margin-top: -16px;
  border-right: 5px groove white;
  border-top:5px groove white;
  border-bottom:5px groove white ;
  width: 50px;
  height: 20px;
}

.confessPlace4 {
  color:blue;
  margin-left:49px;
  margin-top:-15px;
  border-left: 5px groove white;
  border-right:5px groove white;
  border-bottom:5px groove white;
  width: 20px;
  height: 135px;
}

#sin {
  width: 75px;
  font-size: small;
  text-align: center;
  margin-left: 17px;
}

#sinResponse {
  color: crimson;
  font-size: 20px;
  font-weight: 700;
}

.rndm, .randNumber {
  color:  pink;
}

.journal {
  border: 5px double white;
  width: 500px;
  color: red;
}

#myJournal {
  width: 420px;
}

.confessSin {
  color: white;
}

.white, #white {
  color: white;
}

.pink {
color: pink;
}

.chartreuse, #chartreuse {
  color: chartreuse;
}

.crimson, #crimson {
  color:  crimson;
}

.deepPink {
  color: deeppink;
}

.orangeRed, #orangeRed {
  background-color: transparent;
  border: none;
  color: orangered;
  width: 100%;
}

.darkBlue, #darkBlue {
  color: darkblue;
}

.purple {
  color: purple;
}

.yellow {
  color: yellow;
}

.showOneText {
  text-align: center;
}

.pix5 {
  font-size: 5px;
}

.pix10 {
  font-size: 10px;
}

.pix15 {
  font-size: 15px;
}

.pix20{
  font-size: 20px;
}

.pix25 {
  font-size: 25px;
}

.pix30 {
  font-size: 30px;
}

.pix70 {
  font-size: 70px;
}

.pix100 {
  font-size: 100px;
}

.urlPic {
  margin-top: 15px;
 display: flex;
}
.thePic {
  border: 5px black solid;
  border-radius: 50%
}
.sizing {
  margin-left: 100px;
  background-color: yellow;
}

.caption {
  background-color: yellow
}

.inventory {
  border: 5px groove royalblue;
  width: 400px;
  padding: 5px;
}

.param {
  width: 375px;
}

.scripParam {
  width: 190px;
}

.middle {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.newsStory, .newsThought {
  border: 8px ridge;
  border-color: yellow yellow red red;
  border-radius: 15px;
  margin-right: 5px;
  height: 150px;
  width: 200px;
  text-align: center;
  font-weight: 700;
  background-image: url("../images/highClouds.jpeg");
}

.smallBox {
  display: flex;
  justify-content: space-between;
}

.bigMiddle {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.mediaThought {
  margin-left: 5px;
}

.newPage {
  background-color: dodgerblue;
}

.formsDiv {
  display: flex;
  flex-direction: column;
  border: 5px double yellow;
  border-radius: 5px;
  padding: 5px;
  width: 300px;
}

.currStudy {
  width: 420px;
  /* height: 250px; */
  padding: 10px;
  border: 10px groove;
  border-color: darkblue yellow yellow yellow;
  border-radius: 10px;
}
.pwd {
  margin-top: 3px;
}

.memberSign {
  display: flex;

}

.newUserSign {
  margin-top: 5px;
}

.signUp {
  justify-content: center;
}

#smFont{
  font-size: 12px;
}

.green {
  color: green;
}

.darkgray {
  color: darkgray;
}

.member {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tagHover:hover {
  background-color: dodgerblue;
}

.outset {
  width: 10rem;
  background: #cef;
  border: 1.4rem solid;
  border-image: radial-gradient(#ff2, #55f) 80;
  border-image-outset: 1.5;  /* = 1.5 * 1.4rem = 2.1rem */
  margin: 2.1rem;
}

.sticky {
  float: right;
  color: blue;
  cursor: pointer;
}

.sticky:hover {
  background-color: yellow;
  border: 3px yellow double;
  border-radius: 5px;
}

.xtreme {
  display: flex;
  align-items: center;
}

.ex {
  margin-top:-104px;
  margin-left: 44px;
  position: absolute;
}

.word {
  position: relative;
  z-index: 2;
}

.tee {
  position: relative;
  margin-top: 5px;
  margin-bottom: 20px;
  margin-left: 70px;
}

.x {
font-family: cursive;
}


.raise {
  top: 30px;
  position: relative;
}

.treme {
  margin-top: 40px;
  margin-bottom: 0;
  margin-left:  0;
  margin-right: 0;
}

.shift {
  margin-left: 120px;
  margin-bottom: 10px;
}

.christian {
  margin-top: -50px;
}

.point {
  cursor: pointer;
}

.marg {
  margin-bottom: 15px;
}

.first {
  border: 5px solid black;
  margin-bottom: 10px;
  padding: 5px;
  width: 310px;
}

#emailHelp {
  color: yellow;
}

#click {
  width: 95px;
}

.start {
  margin-top: 200px;
  margin-left: 50px;
}

.supportHeaders {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.amtBox {
  margin-left: 5px;
  border: solid 3px darkblue;
  border-radius: 5px;
  width: 75px;
  font-size: 10px
}

.charity {
  margin-left: 5px;
}

.charityBtn {
  width: 50px;
  height: 15px;
  font-size: 10px;
  background-color: white;
  color: blue;
}

.textSize {
  width: 300px;
}

.devotions {
  display: flex;
  flex-direction: row;
}

.devoBtn1 {
  width: 200px;
  background-color: darkblue;
  border-radius: 15px;
  margin-right: 5px;
  color: white;
}

.everyDevoBtn {
    background-color: transparent;
    border: none;
    color: white;
    width: 100%;
  
}

.devoBtn2 {
  width: 200px;
  background-color: black;
  margin-right: 5px;
  color: white;
  border-radius: 15px;

}

.devoBtn3 {
  width: 200px;
  background-color: darkblue;
  margin-right: 5px;
  color: white;
  border-radius: 15px;
}

.devoBtn4 {
  width: 200px;
  background-color: darkblue;
  margin-right: 5px;
  color: white;
  border-radius: 15px;
}

.devoBtn5 {
  width: 200px;
  background-color:darkblue;
  margin-right: 5px;
  color: white;
  border-radius: 15px;
}

#homeButton {
height: 25px;
width: 80px;
background-color: dodgerblue;
color: white;
}

.startBtn1 {
  margin-top: 10px;
  font-size: 10px;
}

.headerBtn {
  display: flex;
}

.graceBtn {
  justify-content: flex-start;
  width: 100px;
}

.goal {
  position: relative;
}

.pb_homeless {
  position: absolute;
  top: 1127px;
}

.block {
  color: white;
  background-color: red;
  border: 3px ridge red;
  width: 135px;
  text-align: center;
  margin-top: 15px;
}

.fruit1, .fruit2, .fruit3, .qual1, .qual2, .qual3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -31px;
}

.fruitSpirit,.qualSpirit {
  display: flex;
  flex-direction: column-reverse;
  margin-top:25px;
}

.cent{
  text-align: center;
}

.love {
  margin-top: 15px;
}

.blockLove {
  color: red;
  background-color: white;
  border: 3px ridge red;
  width: 115px;
  text-align: center;
}

.allFruit {
  border: 5px double white;
  padding: 10px;
}

.shootPics {
  display: flex;
  justify-content: space-around;
}

.graceland {
  text-align: center;
  border: 10px ridge darkblue;
  height: 300px;
  width: 700px;
}

.graceScrip {
  margin: 0;
}

.grScrip  {
  display: inline-block;
  margin-left: 10px;
}

.startPage {
  background-color: crimson;
}

.cont {
  display: flex;
  justify-content: space-around;
  align-content: center;
}
.subCont {
  border: 15px ridge darkblue;
  width: 400px;
  height: 250px;
  text-align: center;
}

.blink {
  text-decoration: blink;
}

.red-text-shadow {
  text-shadow: red 0 -2px;
}

.white-text-with-blue-shadow {
  text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
  color: white;
  font: 1.5em Georgia, serif;
}

.bookcases {
  display: flex;
  margin-left: 150px;
}

.c1 {
background-color: green;
}

.case1 {
  position: absolute;
}

.c2 {
  background-color: blue;
  /*margin-top:-30px;*/
  /*margin-left:50px;*/
}

.case2 {
  margin-top: 133px;
  margin-left: 65px;
}

.c3 {
  background-color: red;
}

.case3 {
  margin-top: 0px;
  margin-left: -50px;
}

.c4 {
  background-color: purple;
}

.case4 {
  margin-top: 133px;
  margin-left: 65px;
}

.bookcases {
  margin-top: 50px;
}

.progTitle {
  /* text-align: center; */
  background-color: darkblue;
}

.progWidth {
  width: 400px;
}

.charDisplay {
  display: inline;
}

.questionBoxes {
  display: flex;
  flex-wrap: wrap;
}
.questionBox {
  width: 250px;
  /* height: 170px; */
  background-color: white;
  border: 5px double gray;
  margin-right: 15px;
  margin-bottom: 15px;
}

#question {
  width: 400px;
}

.prayerResponse {
  border: 10px double white;
  padding: 5px;
  width: 300px;
}

.qaAnswerScrip {
  padding: 5px;
}












.causes {
  color: white;
}

.pic {
height: 125px;
width: 125px;
border: 15px groove white;
}

.contLink li a {
  color: red;
}

.version {
  color: red;
  font-size: 12px;
  float: right;
}

.hidden {
  display: none;
}
button, .button {
  height: 25px;
  margin-left: 5px;
  background-color:navy;
  color:white;
  width: 80px;
  border-radius: 5px;
  font-size: 12px;
}

.newButton {
  height: 25px;
  width: 80px;
  font-size: 10px;
  border: 10px  navy;
}

.moralInvBtn {
  width: 50px;
  color: red;
}

#payBtn {
  width: 105px;
}

.tester3 {
  position: relative;
  z-index: 2;
}

img {
  height: 350px;
  width: 350px;
  margin-bottom: 5px;
  }
  
.decide {
  color: blue;
  font-size: 20px;
  text-align: center;
}

#sayings {
  font-size: 8px;
}

.welcome {
  color: white;
}

.cloud {
  float: left;
  height: 200px;
  width: 200px;
  margin-right: 15px;
  border: 15px groove yellow;
}

.clear {
width: 160px;
}

.wide{
  width: 180px;
  margin-left: 3px;
  margin-right: 3px;
}

.sub {
  margin-right: 5px;
}

.other {
  color: white;
}

.coverPage {
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: space-around;
}

.box {
height: 250px;
width: 300px;
border: groove dodgerblue 20px;
border-radius: 15px;
margin-top: 15px;
padding: 5px;
}

.merchandise {
 display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: space-around;
}

.merchBox {
height: 125px;
width: 300px;
border: groove 20px;
border-color: pink pink red red;
border-radius: 15px;
margin-top: 15px;
padding: 5px;
color: white;
}

.merchBox a {
  color: white;
}

.locTabs {
  display: flex;
  justify-content: space-around;
  background-color: yellow;
}

.locTabs a {
  color: black;
}


footer {
  color:white;
}

.slider {
  background-color: black;
  color:blue;
  border: 10px groove white;
  width: 135px;
  height: 200px;
  margin-top: 15px;
  margin-left: 15px;
  text-align: center;
  animation: slide 3s ease-in-out;
}

@keyframes slide {
  from {
    background-color: black;
  }
  
  to {
    transform: translate(336px, 10px);
    background-color: red;
  }
}

@media screen and (min-width: 377px) and (max-width: 660px) {

  .main {
    flex-direction: column;
    margin-bottom: 20px;
  }


#scrip, .version {
  display: none;
}

.middle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 15px;
  margin-bottom: 15px;
}

#me {
display: none;
}
  
}

@media screen and (max-width: 376px) {


.sizing {
  margin-left: 0;
}

.resp2, .resp3, .resp4, .resp5 {
  display: none;
}

#target {
  width: 330px;
  padding: 7px
}  
#myPic {
  margin-left: 70px;
}
.topPersonal {
  width: 350px;
}  

#vidBox {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inventory {
  width: 360px;
}

.bigMiddle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cross {
  margin-top: 250px;
  margin-left: 225px;
}


.fullPage {
  padding: 10px;
}  

.trngCtr {
  display: none;
}

.newUserSign {
  text-align: center;
}  

.newButton {
  width: 80px!important;
}
#userName {
    margin-left: 0px;
  }  


 .journal {
  width: 320px;
 } 

 #journalEntry, #myEntry{
   width: 350px;
   border: yellow 10px solid;
   border-radius: 5px;
 }

 #myJournal {
   width: 335px;
   margin-left: -3px;
   background-color: transparent;
 }

 .currStudy {
  width: 335px;
}  

#entry {
    width: 300px;
  }

.top {
   margin-top: 10px;
 } 

.devotions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  display: none;
}
#list{
  width: 330px;
}


.button, .newButton {
  margin-top: 5px;
  width: 100px;
}


#one {
  height: 80px;
}

.middle {
  flex-direction: column;
  align-items: center;

} 

.signIn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px
}


.startBtn {
  margin-top: 10px;
}

.startBtn1 {
  margin-top: 10px;
  font-size: 10px;
}

.media {
  margin-top: 20px;
  margin-bottom: 10px;
}

.cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subCont {
  margin-bottom: 5px;
  width: 300px;
}


  .main {
    flex-direction: column;
  }

  .trngCenter {
    margin: 15px 0 25px 0;
  }

#scrip, .version {
  display: none;
}

.middle {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

#me {
display: none;
}

  #living {
    display: none;
    }
  
  h3,h1 {
    font-size: 25px;
  }
  
  .clear, .wide {
    width: 149px;
  }
  
  .causes {
    color: white;
  }
  
  
  .flipper {
    perspective: 400px;
    position: relative;
  }
  
  .flipper-object {
    position: absolute;
    transition: transform 1s;
    transform-style: preserve-3d;
  }

  @keyframes slide {
    from {
      background-color: black;
    }
    
    to {
      transform: translate(210px, 10px);
      background-color: red;
    }
  }  


}



